.card-container {
  @include flex(column);

  &:not(:first-of-type) {
    margin-top: 1rem;
  }
  
  width: 100%;
  height: fit-content;
  max-width: 30rem;
  padding: 0.75rem;
  row-gap: 0.25rem;
  border-radius: 12px;

  box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.2);

  img {
    width: 2.5rem;
  }
}