.header-container {
  @include responsive-padding;
  @include flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 4rem;
  background-color: $brown-500;

  a#main-title {
    font-size: 1.625rem;
  }

  .header-wrapper {
    @include flex;
    position: relative;
    align-items: center;
    width: fit-content;
    gap: 1rem;

    .menu-modal {
      position: absolute;
      @include flex(column);
      align-items: center;
      width: max-content;
      top: 4rem;
      right: 2rem;
      background-color: $brown-200;
      padding: 1.25rem;
      border-radius: 8px;
      z-index: 99;

      span {
        cursor: pointer;
      }

      :not(:first-child) {
        margin-top: 0.75rem;
      }
    }
  }

  a#main-button {
    @include flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.25rem 0.425rem;
    border-radius: 4px;
    outline: 2px solid $brown-700;
    color: $black-900;
  }
}