.management-container {
  @include flex(column);
  background-color: $white-100;
  min-height: 100vh;
  
  .management-content {
    @include flex(column);
    @include responsive-padding(3rem, 1.5rem);
    align-items: center;
    // margin-top: 3rem;

    input {
      width: 100%;
      height: 1.875rem;
      max-width: 20rem;
      border-radius: 8px;
      border: 0;
      padding: 0 0.5rem;
      box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.2);
      font-size: 1rem;

      &:first-of-type {
        margin-top: 1rem;
      }

      &:not(:first-of-type) {
        margin-top: 0.5rem;
      }
    }

    textarea {
      width: 100%;
      max-width: 20rem;
      height: 4.5rem;
      border-radius: 8px;
      border: 0;
      padding: 0 0.5rem;
      box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.2);
      margin-top: 0.5rem;
      resize: none;
      overflow: auto;
    }

    button {
      height: 1.75rem;
      width: 6rem;
      margin-top: 1rem;
      border: 0;
      border-radius: 8px;
      background-color: $brown-500;
      cursor: pointer;
    }

    .image-input-wrapper {
      @include flex;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      max-width: 20rem;

      // input[type="file"] {
      //   button {
      //     background-color: blue;
      //   }
      // }
    }

    img {
      max-width: 20rem;
      margin-top: 1rem;
      border-radius: 8px;
    }
  }
}