* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus-visible, a:focus-within, a:focus, a:active, a:target {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.login-container {
  background-color: #f0f0f0;
}
.login-container header {
  padding: 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 4rem;
  background-color: #D4B889;
  color: #0f0f0f;
}
@media only screen and (min-width: 600px) {
  .login-container header {
    padding: 0 4rem 0;
  }
}
@media only screen and (min-width: 1024px) {
  .login-container header {
    padding: 0 6rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .login-container header {
    padding: 0 calc(8rem + 5vw) 0;
  }
}
.login-container header a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-container .login-main {
  padding: 0 1rem 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 600px) {
  .login-container .login-main {
    padding: 0 4rem 0;
  }
}
@media only screen and (min-width: 1024px) {
  .login-container .login-main {
    padding: 0 6rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .login-container .login-main {
    padding: 0 calc(8rem + 5vw) 0;
  }
}
.login-container .login-main .login-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1rem;
  gap: 0.5rem;
  background-color: #B48456;
  color: #f0f0f0;
  padding: 0.5rem 0.75rem;
  border-radius: 12px;
  cursor: pointer;
}

.header-container {
  padding: 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 4rem;
  background-color: #D4B889;
}
@media only screen and (min-width: 600px) {
  .header-container {
    padding: 0 4rem 0;
  }
}
@media only screen and (min-width: 1024px) {
  .header-container {
    padding: 0 6rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .header-container {
    padding: 0 calc(8rem + 5vw) 0;
  }
}
.header-container .header-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1rem;
}
.header-container .header-wrapper .menu-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 4rem;
  right: 2rem;
  background-color: #EFEAD6;
  padding: 0.75rem;
  border-radius: 8px;
}
.header-container .header-wrapper .menu-modal span {
  cursor: pointer;
}
.header-container .header-wrapper .menu-modal :not(:first-child) {
  margin-top: 0.5rem;
}

.cards-container-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.card-container {
  display: grid;
  grid-template-columns: 10rem auto;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 30rem;
  padding: 0.75rem;
  border-radius: 12px;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.2);
}
.card-container:not(:first-child) {
  margin-top: 1rem;
}
.card-container .card-img-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.card-container .card-img-wrapper .card-img {
  width: 100%;
  aspect-ratio: 1/1;
}
.card-container .card-info-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 0.75rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.card-container .card-info-wrapper :first-child {
  justify-content: space-between;
}
.card-container .card-info-wrapper :not(:first-child) {
  margin-top: 0.25rem;
}
.card-container .card-info-wrapper .card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-container .card-info-wrapper .card-row :not(:first-child) {
  margin-left: 0.25rem;
  margin-top: 0;
}
.card-container .person-img {
  width: 2.5rem;
}/*# sourceMappingURL=App.css.map */