$primary-font: 'Bree Serif', serif;

// Color Palette
$black-900: #0f0f0f;
$gray-900: #36353A;
$gray-800: #707173;
$brown-700: #B48456;
$brown-500: #D4B889;
$brown-200: #EFEAD6;
$white-100: #f0f0f0;

// Media Variables
$mobile-size: "min-width: 320px";
$tablet-size: "min-width: 600px";
$notebook-size: "min-width: 1024px";
$desktop-size: "min-width: 1280px";

@mixin responsive-padding($pt: 0, $pb: 0) {
  padding: $pt 1rem $pb;

  @media only screen and ($tablet-size) {
    padding: $pt 4rem $pb;
  }
  @media only screen and ($notebook-size) {
    padding: $pt 6rem $pb;
  }
  @media only screen and ($desktop-size) {
    padding: $pt calc(8rem + 5vw) $pb;
  }
}

@mixin flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
  -webkit-tap-highlight-color: transparent; // remove color highlight on tap
}

a {
  text-decoration: none;
  color: inherit;
  &:focus-visible, &:focus-within, &:focus, &:active, &:target {
    border: 0;
    outline: 0;
    background-color: transparent;
  }
}

// Module Imports
@import '../pages/Login/Login';
@import '../components/Header/Header';
@import '../components/CardsContainer/CardsContainer';
@import '../components/Card/Card';